{% extends "base.jinja2.html" %}

{% block styles %}
<style type="text/css">
    body {
        padding: 0;
        margin: 0;
    }

    .notification {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .button {
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block section %}
<section class="section">
    <div class="container">


        <h1 class="title has-text-centered is-size-2">Login</h1>
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="notification is-light">
                    {% if error %}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        {{ error }}
                    </div>
                    {% endif %}
                    <form action="" method="post">
                        <div class="field">
                            <label class="label">Username:</label>
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Username" name="username"
                                    value="{{ username }}" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Password:</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" placeholder="Password" name="password" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <button type="submit" class="button is-info is-rounded is-outlined is-medium">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}