{% for row in records %}
<tr>
    <td>{{ loop.index }}.</td>
    <td>
        {% for tag in row.keywords %}
        <span class="tag is-link">{{ tag }}</span>
        {% endfor %}
    </td>
    <td>
        <a href="{{ url('report_by_upload', id=row.id) }}">
            {{ row.created_on.strftime("%Y-%m-%d %H:%M:%S") }}
        </a>
    </td>
    <td>
        {% if row.status == "completed" %}
        <span class="icon has-text-success">
            <i class="fas fa-check-square"></i>Done
        </span>
        {% else %}
        <span class="icon has-text-info">
            <i class="fas fa-info-circle"></i>Running
        </span>
        {% endif %}
    </td>
</tr>
{% endfor %}