{% extends "home.jinja2.html" %}

{% block innersection %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <div class="card is-centered">
                <div class="card-content">
                    <div class="content">
                        <form action="{{ url('upload') }}" method="POST" enctype="multipart/form-data">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-small" type="file" name="file" placeholder="Upload CSV File" />
                                <span class="icon is-medium is-left">
                                    <i class="fa fa-upload"></i>
                                </span>
                            </div>
                            <button type="submit">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="card is-mobile is-centered" style="min-height:420px">
        <div class="card-header">
            <p class="card-header-title">Your Recent Uploads</p>
        </div>
        <div class="card-content">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th></th>
                        <th>Keywords</th>
                        <th>Uploaded Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% include "crawler/partials/upload_row.jinja2.html" %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}