{% extends "home.jinja2.html" %}

{% block innersection %}
<section class="container">
    <div class="card is-mobile is-centered" style="min-height:420px">
        <div class="card-header">
            <p class="card-header-title">Keyword Search Report</p>
        </div>
        <div class="card-content">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th></th>
                        <th>Keyword</th>
                        <th>Total Results</th>
                        <th>Number of Links</th>
                        <th>Number of Adwords</th>
                        <th>Uploaded Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in records %}
                    <tr>
                        <td></td>
                        <td>
                            <a class="tag is-link" href="{{ url('report_by_keyword', keyword=row.keyword) }}">
                                {{ row.keyword }}
                            </a>
                        </td>
                        <td>{{ row.num_results }}</td>
                        <td>{{ row.num_links }}</td>
                        <td>{{ row.num_adwords }}</td>
                        <td>{{ row.created_on.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                        <td>{{ row.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}