{% extends "home.jinja2.html" %}

{% block innersection %}
<section class="container">
    <div class="card is-mobile is-centered" style="min-height:420px">
        <div class="card-header">
            <p class="card-header-title">Your All Uploads</p>
        </div>
        <div class="card-content">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th></th>
                        <th>Keywords</th>
                        <th>Uploaded Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% include "crawler/partials/upload_row.jinja2.html" %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}