{% extends "base.jinja2.html" %}
{% block section %}
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url('home') }}">Home</a>
            <div class="navbar-burger burger" data-target="navMenu"><span></span><span></span><span></span></div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="{{ url('report_all_uploads') }}">All Uploads</a>
                </div>
                <div class="navbar-item">
                    <a href="{{ url('report_all_keywords') }}">My Keywords</a>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"></a>
                    <div class="navbar-dropdown">
                        <div class="navbar-item"><a href="{{ url('logout') }}">Logout</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% block innersection %}{% endblock %}

<footer>
    <div class="box cta">
        <div class="columns is-mobile is-centered">
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tags has-addons">
                        <a class="tag is-link" href="https://github.com/BulmaTemplates/bulma-templates">Bulma
                            Templates</a><span class="tag is-light">Daniel Supernault</span></div>
                </div>
                <div class="control">
                    <div class="tags has-addons"><a class="tag is-link">The source code is licensed</a><span
                            class="tag is-light">MIT <i class="fa fa-github"></i></span></div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}